.bulletin {
	align-content: start;
	background-color: aquamarine;
	border: 4px solid darkblue;
	padding: 7px;
}

.bulletin-out {
	padding: 8px;
}

.bulletin-header {
	font-size: x-small;
}

.bulletin-body {
	color: green;
}

.link {
	font-family: Arial, SansSerif;
}

.small {
	font-size: xx-small;
}